{% extends 'base.html' %} {% block content %}



<h3>Wexford Slang Dictionary</h3>
<div>
Story today skin? 
	<em>(Hello my friend, What would you like to do today?)</em>
	<div>
		<span>
			<a href="{{url_for('add_slang')}}" class="btn waves-effect waves-light purple" >
				<i class="material-icons left">add</i>Add Slang
			</a>
		</span>
		<span>
			<a href="{{url_for('getslang')}}" class="btn waves-effect waves-light purple" >
				<i class="material-icons left">search</i>Browse All
			</a>
		</span>
	</div>
</div>

{% endblock %}