<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
</head>
<body>
<header>
  <nav>
    <div class="nav-wrapper purple">
      <a href="#!" class="brand-logo center purple">Wexford Slang</a>
    </div>
  </nav>
</header>
<div class="container">
<h3>Register</h3>
    <div>
    <form action="{{url_for('insertuser')}}" method="POST" class="col s12">
        <div class="input-field col s12">
        <i class="material-icons prefix">account_box</i>
            <textarea id="textarea2" name="username" class="materialize-textarea" data-length="20"></textarea>
            <label for="textarea2">User Name</label>
        </div>
        <div class="input-field col s12">
        <i class="material-icons prefix">face</i>
            <textarea id="textarea2" name="firstname"class="materialize-textarea" data-length="20"></textarea>
            <label for="textarea2">First Name</label>
        </div>
           <div class="input-field col s12">
        <i class="material-icons prefix">face</i>
            <textarea id="textarea2" name="lastname" class="materialize-textarea" data-length="20"></textarea>
            <label for="textarea2">Last Name</label>
        </div>
        <div class="input-field col s12">
        <i class="material-icons prefix">flag</i>
            <textarea id="textarea2" name="country"class="materialize-textarea" data-length="20"></textarea>
            <label for="textarea2">Country</label>
        </div>
        </div>
<span>
<button class="btn waves-effect waves-light purple" type="submit" name="action">Sign up
    <i class="material-icons right">account_box</i>
  </button>
 </span>
  <span>
<a href="{{url_for('login')}}" class="btn waves-effect waves-light purple" ><i class="material-icons right">keyboard_backspace</i>Back to Log in</a>
</span>
</div> 

<script src ="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.collapsible').collapsible();
     $('input#input_text, textarea#textarea2').characterCounter();
    $('select').formSelect();
     $('.sidenav').sidenav();
  });
  </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript">

</div>
</body>
</html>