{% extends 'base.html' %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="container filters">   
    <div class="input-field col s6">
        <i class="material-icons prefix">category</i>
    <select id="category" name="category_name">
      <option value="" disabled selected>Category</option>
      {% for cat in categories %}
      <option value="{{cat.category_name}}">{{cat.category_name}}</option>
      {% endfor %}
    </select>
  </div>
</div>  
<ul class="collapsible">
    {% for slangs in slangs %}
    <li>
      <div class="collapsible-header">
         <div class="col s3"> 
            <i class="material-icons">expand_more</i>
            <a href="{{url_for('deleteslang', slangid=slangs._id)}}" class="waves-effect waves-light red btn-small btn_xsml">Delete</a>
            <a href="{{url_for('editslang', slangid=slangs._id)}}" class="waves-effect waves-light blue btn-small btn_xsml">Edit</a>
      </div>
       <div class="accordion col s9">
        <strong>{{slangs.slang_name}}</div></strong>
       </div> 
      <div class="collapsible-body">
        <div><strong>Category: </strong>{{slangs.category_name}}</div>
      <div><strong>Description: </strong>{{slangs.slang_description}}</div>
      <div><strong>Example: </strong><em>{{slangs.slang_example}}</em></div>
      </div>
    </li>
     {% endfor %}
  </ul>

<script src ="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(function() { 
        $('#category').change(function() { 
            const selectedCategory = $(this).val();
            window.location.href = window.location.pathname+"?"+$.param({'category':selectedCategory})
            }); 
    });
</script>

</body>
{% endblock %}
</html>

