{% extends 'base.html' %}
{% block content %}



   
<div class="container filters">
	<div class="input-field col s6">
		<i class="material-icons prefix">search</i>
		<select id="category" name="category_name">
			<option value="" disabled selected>Category</option>
      {% for cat in categories %}
      
			<option value="{{cat.category_name}}">{{cat.category_name}}</option>
      {% endfor %}
    
		</select>
	</div>
</div>
<span>
	<a href="{{url_for('getslang')}}" class="btn waves-effect waves-light purple" >
		<i class="material-icons right">refresh</i>Refresh List
	</a>
</span>
<ul class="collapsible">
    {% for slangs in slangs %}
    
	<li>
		<div class="collapsible-header">
			<div class="col s3">
				<i class="material-icons">expand_more</i>
				<a href="{{url_for('deleteslang', slangid=slangs._id)}}" class="waves-effect waves-light red btn-small btn_xsml">Delete</a>
				<a href="{{url_for('editslang', slangid=slangs._id)}}" class="waves-effect waves-light blue btn-small btn_xsml">Edit</a>
			</div>
			<div class="accordion col s9">
				<strong>{{slangs.slang_name}}
				</div>
			</strong>
		</div>
		<div class="collapsible-body">
			<div>
				<strong>Category: </strong>{{slangs.category_name}}
			</div>
			<div>
				<strong>Description: </strong>{{slangs.slang_description}}
			</div>
			<div>
				<strong>Example: </strong>
				<em>{{slangs.slang_example}}</em>
			</div>
		</div>
	</li>
     {% endfor %}
  
</ul>
<script src ="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(function() { 
	    const $category = $('#category');
	    const selectedCategory = '{{selectedCategory}}';
		if(selectedCategory) {
			$category.val(selectedCategory);
		}
        $category.change(function() { 
            const selectedCategory = $(this).val();
            window.location.href = window.location.pathname+"?"+$.param({'category':selectedCategory})
            }); 
    });
</script>
{% endblock %}


